{% extends 'base.html' %} 
{% block content %}
{% for message in messages %}
	{% if messages %}
	<script>alert("{{ message }}");</script>
	{% endif %}  	
{% endfor %}
<div class="container">
	<div class="row align-items-start">
		<div class="col">
			<img class=" card-img-top p-2 " src="{{ data.image.url }}" />
		</div>
		<div class="col">
			<p>Name: <b>{{ data.name }}</b></p>
			<p>Description: <br><b>{{ data.description }}</b></p>
			{% if data.quantity == 0 %}
				<p>Available Quantity: <b class="text-danger">Sorry this item is not available</b></p>
			{% else %}
				<p>Available Quantity: <b>{{ data.quantity }} pairs</b></p>
			{% endif %}
			<p>Price: <b>₱.{{ data.price|floatformat:2 }}</b></p>
			<form method="POST">
            {% csrf_token %}
				<div class="input-group mb-3">
				  <label class="input-group-text" for="inputGroupSelect01">Choose a Size:</label>
				  <select class="form-select" id="inputGroupSelect01" name="size_selected_id" required>
				    <option value="" selected>Choose...</option>
				    {% for sizes in Shoesizes %}
						<option value="{{ sizes.id }}">{{ sizes.size }}</option>
					{% endfor %}
				  </select>
				</div>
				<div class="input-group mb-3">
				  <label class="input-group-text" for="inputGroupSelect01">Choose a Color:</label>
				  <select class="form-select" id="inputGroupSelect01" name="color_selected_id" required>
				    <option value="" selected>Choose...</option>
				    {% for colors in Shoecolors %}	
						<option value="{{ colors.id }}">{{ colors.color }}</option>
					{% endfor %}
				  </select>
				</div>
		        <div class="input-group input-group-sm mb-3">
				  <span class="input-group-text" id="inputGroup-sizing-sm">Quantity: </span>
				  <input type="number" class="form-control" aria-label="Sizing example input"  name="purchased_quantity" aria-describedby="inputGroup-sizing-sm" required>
				</div>
		        <button type="submit" class="btn btn-dark">Purchase</button>
          </form>
		</div>
		<div class="col">
	</div>
</div>
{% endblock content %} 